body {
    margin: 0;
}

.page-container {
    width: 65%;
    margin: 0 auto;
}

iframe {
    display: none !important;
}
/* @media (max-width: 1920px) {
    .page-container {
        width: 1520px;
        margin: 0 auto;
    }
}

@media (max-width: ) */